/* First media */
@media screen and (max-width:1264px) {
    .navbar{
        column-gap:58rem;
    }
}

/* 2nd media */
@media screen and (max-width:900px) {
    .navbar{
        column-gap:50rem;
    }
}

/* 3rd Media */
@media screen and (max-width:782px) {
    .navbar{
        column-gap: 39rem;
    }
    .first_content{
        flex-direction: column;
    }
    #collab{
        padding: 10px;
        margin-left: 1rem;
        margin-right: 2rem;
        width: 85rem;
        height: 40rem;
    }
    #loop_image{
        display: none;
    }
    .first_content span{
        margin: 10px 4rem 0px 4rem;
        font-size: 3rem;
    }
    .second_content span{
        margin: 45px 4rem 45px 4rem;
        font-size: 3rem;
    }
    .footline{
        font-size: 3rem;
        margin-left: 1.5rem;
    }
    .hr_line{
        margin-top: 1.7rem;
        width: 35rem;
    }
    .foot_main{
        flex-direction: column;
        row-gap: 6.8rem;
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    .img_foot img{
        height: 15rem;
        width: 15rem;
        margin-bottom: 10px;
    }

    .social{
        font-size: 3.2rem;
    }
    .help{
        font-size: 3.2rem;
    }
    .visit{
        font-size: 3.2rem;
    }
    #Visit_head{
        font-size: 3.4rem;
    }
}

/* 4th Media */
@media screen and (max-width:545px) {
    .navbar{
        column-gap: 32rem;
    }
    .heading{   
        font-size: 13px;
    }
    .links{
        font-size: 12px;
    }
}

/* 5th media */
@media screen and (max-width:420px) {
    .navbar{
        column-gap: 25rem;
    }
    .heading{
        margin-top:5.5px;
    }
}

/* 6th media */
@media screen and (max-width:420px) {
    .navbar{
        column-gap: 15rem;
    }
    .heading{
        margin-top:5.5px;
    }
}
